<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chatting with sql</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <aside class="left-section">
      <div class="user-section-header">
        <h2>User</h2>
        <h2><a href="/logout">Logout</a></h2>
      </div>
      <div class="user-list">
        <ul>
          <% for(let i = 0; i < users.length; i++) { %>
            <li <% if (toUser == users[i].id) { %> class="active" data-id="<%= toUser %>" <% } %> ><a href="/user/<%= users[i].id %>"><%= users[i].name %></a></li>
          <% } %> 
        </ul>
      </div>
    </aside>
    <main class="main-container">
      <div class="chat-box">
        <div class="chat-list">
          <% for(let i = 0; i < messages.length; i++) { %>
            <div <% if (toUser == messages[i].fromUser) { %> class="class-other" <% } else { %> class="chat-self" <% } %> >
              <ul>
                <li class="message-list"><%= messages[i].message %> </li>
              </ul>
            </div>
         <% } %>
        </div>
        <div class="chat-form" <% if (toUser === null) { %> style="display:none;" <% } %> >
          <input type="text">
          <button>send</button>
        </div>
      </div>
    </main>
    <script src="/js/chat.js"></script>
</body>
</html>