<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chatting with sql</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <aside class="left-section">
      <div class="user-section-header">
        <h2>User</h2>
        <h2><a href="login-register.html">Logout</a></h2>
      </div>
      <div class="user-list">
        <ul>
          <li>use1</li>
          <li>use2</li>
          <li>use3</li>
          <li>use4</li>
          <li>use5</li>
          <li>use6</li>
        </ul>
      </div>
    </aside>
    <main class="chat-box">
    </main>
</body>
</html>