* {
  margin: 0;
  padding: 0;
}
.left-section {
  width: 30%;
  height: 100%;
  position: fixed;
  border: 2px solid #000000;
}
.user-section-header {
  display: flex;
  justify-content: space-evenly;
  background-color: #e4d7d7;
}
.user-list {
  overflow: auto;
  height: 100%;
}
.user-list li {
  padding: 10px;
  margin-bottom: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #a7a2a2;
  color: #ffffff;
  cursor: pointer;
}
